@font-face {
    font-family: 'MontserratMedium';
    src: url('assets/Montserrat-Medium.ttf');
}

@font-face {
    font-family: 'MontserratBold';
    src: url('assets/Montserrat-Bold.ttf');
}